<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Django</title>
    <style>
        h1{
            text-align: center;
            color: #43D6D5;
        }
        h2{
            text-align: center;
            color: #43D6B8;
        }
        p{
            text-align: justify;
            color: #43D6A1;
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <h1>Acerca de Django</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, facilis! Aperiam voluptatum eius facilis commodi, consectetur qui? Eius esse eligendi sed vero impedit, sint nam nemo porro facilis id adipisci voluptates aperiam debitis excepturi numquam natus quibusdam quaerat! Minus minima modi beatae nihil, consequatur accusamus obcaecati quidem voluptas eos, officiis rerum commodi magnam tenetur porro alias earum, velit iste recusandae. Facere quisquam numquam mollitia fugit eaque provident eveniet fugiat quibusdam beatae ullam placeat incidunt illo eius laborum libero corporis tempora voluptates, cupiditate animi inventore itaque quae totam at. Ipsum expedita dolores ea dicta necessitatibus iste nesciunt ad id quasi minus.</p>
    <p>Minima ullam, saepe eligendi assumenda voluptatum enim dicta delectus hic. Animi expedita aperiam cumque! Blanditiis voluptatem laudantium, ducimus repudiandae sit fuga incidunt a iure non asperiores. Ipsam cum illum, eos eaque a consequuntur architecto molestias deserunt repudiandae, earum placeat? Quisquam, eos temporibus cupiditate, necessitatibus sunt dolore tempore nesciunt incidunt praesentium veritatis architecto dolores adipisci magnam mollitia! Laudantium pariatur incidunt error exercitationem non, nostrum ex asperiores expedita quis soluta, necessitatibus eaque veritatis praesentium accusamus nisi repellat distinctio facere veniam, et modi voluptate ratione. Laboriosam iure dolores ipsum dolorum ea mollitia, exercitationem voluptates repudiandae corporis corrupti ad esse molestias sit eligendi eius.</p>
    <p>Quod odio, temporibus dolorem, consectetur eaque velit deleniti, expedita eligendi quam iste veniam eum ad quos ratione architecto voluptate reprehenderit perferendis! Expedita sit, tenetur quas ex ipsum quaerat sapiente labore accusamus voluptates voluptate! Hic inventore non neque nisi voluptatum officiis iure aspernatur facilis impedit veniam? Ab temporibus illum debitis dolor, porro, officia eveniet beatae optio facilis deleniti, expedita ut. Repellendus debitis nam maiores exercitationem. Iure consequuntur enim, explicabo totam omnis corrupti blanditiis maxime non pariatur facere atque quasi maiores nihil ipsum? Ea iste architecto esse, reiciendis magnam veniam atque vel quasi a molestias id ad sed obcaecati quis qui dignissimos.</p>
    <p>Deserunt modi corrupti facere nemo vel libero excepturi explicabo vitae tempora! Dicta temporibus architecto, fuga minima enim saepe, aliquid cum incidunt autem dolore nobis ipsum necessitatibus consectetur aspernatur adipisci soluta. Sed unde ullam id molestias fugit delectus, consequatur vero odio voluptates iusto laborum placeat distinctio corrupti praesentium enim, recusandae adipisci aperiam perferendis earum quis laudantium? Repellat odio atque, adipisci asperiores quaerat eligendi sed sunt consequuntur natus fugiat harum aperiam esse eum fugit. Sint, perferendis ea. Esse sequi corrupti suscipit minima itaque dolor ducimus cumque eum quas animi expedita modi doloribus numquam fuga sit porro pariatur quia, ipsa corporis. Vitae, magnam!</p>
    <p>Alias obcaecati debitis, ullam at consequatur saepe error illo, officia similique perspiciatis sit modi illum, quasi ut hic deserunt vero molestiae velit libero soluta repudiandae assumenda nemo. Nihil cupiditate eaque quia molestiae, dolore magnam est, assumenda laudantium rerum quo magni totam quas, recusandae quisquam iusto! Esse illum inventore dolorem. Nulla ipsum similique accusamus dolorum voluptatem alias omnis, delectus earum error nihil tenetur provident incidunt ex ut sed. Esse cum saepe, aut doloremque dolor sunt, quis rerum veniam optio, architecto aspernatur. Corrupti ut eius expedita ex sequi aut, quaerat inventore architecto eaque accusantium, esse soluta praesentium maiores autem saepe recusandae possimus?</p>
    {% endblock content %}
</body>
</html>
