<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <style>
        h1, h2{
            text-align: center;
        }
        h1{
            color: #A842D5;
        }
        h2{
            color: #C543D6;
        }
        p{
            text-align: justify;
            color: #D643B5;
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <h1>Inicio</h1>
    <h2>Aplicación página en django</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit accusantium tempora sapiente enim voluptate voluptatum a. Tempore, ullam cupiditate! Maiores, et cumque velit quos distinctio magni quod commodi voluptate pariatur dicta consequuntur doloremque facere dolore odit accusamus blanditiis, tempore consectetur quisquam esse dolorum! Reprehenderit ex non voluptatum sequi tenetur doloremque?</p>
    <p>Modi ad voluptates dolores quidem quam dicta, magnam necessitatibus impedit. Sit recusandae ipsa, labore minus eum inventore debitis reiciendis saepe quibusdam sunt tenetur quasi esse animi harum dolorem libero illo doloremque vel, aspernatur officiis, cupiditate voluptate id cum! Vel facere, distinctio qui temporibus tempora tempore aspernatur possimus ad doloremque soluta!</p>
    <p>Optio dolores similique reiciendis architecto aliquid nisi obcaecati voluptas corrupti, repudiandae modi quidem asperiores eum molestias quas veritatis quia dolorem soluta libero doloremque officia voluptatum tempore. Adipisci animi maiores nulla nesciunt aliquid, ducimus optio, eius corporis laboriosam fugiat obcaecati facilis quae. Dolorum harum repudiandae obcaecati deserunt voluptatem eligendi, libero dolor.</p>
    {% endblock content %}
</body>
</html>
